div.eventcard {
    flex: 0 0 auto;
    padding: 14px;
    display: inline-block;
    background-color: #e4e4e4;
}

div.eventcard h3 a {
    color: #3e3e3e;
}

.spread {
    position: relative;
    margin-top: 5em;
    overflow: auto;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: calc(100% - 30px);
    left: 15px;
    grid-template-columns: repeat(auto-fill, 7em);
}

.user {
    background-color: rgb(200, 200, 200);
    margin: 0;
    padding: 5px;
    width: 7em;
    text-align: center;
    vertical-align: middle;
}