div.eventcard h3 a {
    color: #3e3e3e;
}

div.eventcard h3 {
    margin: 0;
    overflow: hidden;
}

.spread {
    position: relative;
    margin-top: 1em;
    overflow: auto;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: calc(100% - 30px);
    left: 15px;
    grid-template-columns: repeat(auto-fill, 7em);
}

#adminevents .spread {
    grid-template-columns: repeat(auto-fill, 15em);
}

div.eventcard {
    background-color: rgb(200, 200, 200);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    width: 15em;
}

.user {
    background-color: rgb(200, 200, 200);
    margin: 0;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

#adminevents,
#adminusers,
#admintags {
    position: relative;
    width: calc(100% - 30px);
    margin-bottom: 4em;
    left: 15px;
}

#adminusers form,
#adminevents form,
#admintags form {
    margin: 0;
}

.buttonholder {
    width: 50em;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}

.buttonholder button {
    margin-bottom: 20px;
    height: 10em;
    width: 100%;
    font-size: 1em;
}