div.eventinfo {
    padding: 15px;
    padding-bottom: 0;
    max-width: 100%;
    width: 75em;
    background-color: #e4e4e4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

div.eventinfo #description {
    margin-top: 15px;
    padding-bottom: 5px;
}

div.editevent {
    margin: 2em;
    text-align: center;
}

div.editevent textarea {
    min-height: 50px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    height: 10em;
}

div#invitationlist {
    position: relative;
    margin-top: 5em;
    overflow: auto;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: calc(100% - 30px);
    left: 15px;
    grid-template-columns: repeat(auto-fill, 7em);
}

.invitation {
    background-color: rgb(200, 200, 200);
    margin: 0;
    padding: 5px;
    width: 7em;
    text-align: center;
    vertical-align: middle;
}

div.commentsection {
    position: relative;
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    width: 75em;
}

div.commentsection textarea {
    resize: none;
}

.tag {
    color: rgb(200, 200, 200);
    background-color: #3e3e3e;
    border-radius: 50%;
}

.spread {
    position: relative;
    margin-top: 1em;
    overflow: auto;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: calc(100% - 30px);
    left: 15px;
    grid-template-columns: repeat(auto-fill, 5em);
}

#currenttags {
    position: relative;
    max-width: calc(100% - 50px);
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 85em;
    margin-top: 5em;
}

#currenttags h2 {
    margin-bottom: 0;
}