div.eventinfo {
    padding: 15px;
    padding-bottom: 0;
    max-width: 100%;
    width: 75em;
    background-color: #e4e4e4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

div.eventinfo #description {
    margin-top: 5px;
    padding-bottom: 5px;
}

div.editevent {
    margin: 2em;
    text-align: center;
}

div.editevent textarea {
    min-height: 50px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    height: 10em;
}

div#invitationlist {
    position: relative;
    margin-top: 5em;
    overflow: auto;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: calc(100% - 30px);
    left: 15px;
    grid-template-columns: repeat(auto-fill, 7em);
}

.invitation {
    background-color: rgb(200, 200, 200);
    margin: 0;
    padding: 5px;
    width: 7em;
    text-align: center;
    vertical-align: middle;
}

div.commentsection {
    position: relative;
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    width: 75em;
}

div.commentsection textarea {
    resize: none;
}

.tag {
    color: rgb(200, 200, 200);
    background-color: #3e3e3e;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    display: block;
    float: left;
    margin-right: 5px;
}

.tagcontainer {
    overflow: auto;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.buttoncontainer form {
    margin-bottom: 5px;
    height: auto;
}

#deletebutton {
    background-color: rgb(244, 132, 132);
}

#joinform button {
    background-color: rgb(67, 138, 67);
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #3e3e3e;
    height: 1px;
    border: none;
}

#userin {
    font-style: italic;
    font-weight: bold;
}

.buttoncontainer {
    overflow: auto;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.buttoncontainer button, .buttoncontainer form {
    display: block; 
    float:left;
    margin-right: 10px;
}

.buttoncontainer form button {
    margin: 0;
}

.spread {
    position: relative;
    margin-top: 1em;
    overflow: auto;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    width: calc(100% - 30px);
    left: 15px;
    grid-template-columns: repeat(auto-fill, 5em);
}

#currenttags {
    position: relative;
    max-width: calc(100% - 50px);
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 85em;
    margin-top: 5em;
}

#currenttags h2 {
    margin-bottom: 0;
}