#search-bar, form#dateForm, form#tagForm {
    width: 1000px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

#search-bar>form, form#dateForm {
    display: flex;
    justify-content: center;
    gap: 4px;
}

form#tagForm .sidescroller {
    display: inline-block;
    width: 100%;
}

form#tagForm .sidescroller .tagoption {
    display: block;
    float: left;
    margin-right: 5px;
}

form#tagForm .sidescroller button {
    display: block;
    float: right;
}

form#dateForm>input, form#dateForm>button {
    margin-bottom: 0;
}

form#dateForm>p {
    width: 26%;
    font-size: 17px;
    vertical-align: middle;
    margin-bottom: auto;
    height: 20px;
    margin-top: auto;
}

.homesection .title {
    margin-bottom: 5px;
}

div.sidescroller {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    inline-size: calc(100% - 30px);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.eventcard {
    flex: 0 0 auto;
    padding: 14px;
    display: inline-block;
    background-color: #e4e4e4;
}

.homesection {
    margin-left: 25px;
    margin-bottom: 30px;
}

div.eventcard h3 a {
    color: #3e3e3e;
}

div.eventinfo {
    padding: 15px;
    padding-bottom: 0;
    max-width: 100%;
    width: 75em;
    background-color: #e4e4e4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

div.eventinfo #description {
    margin-top: 15px;
    padding-bottom: 5px;
}

button#createevent {
    position: fixed;
    border-radius: 100%;
    height: 75px;
    width: 75px;
    font-size: 20px;
    text-align: center;
    bottom: 25px;
    right: 25px;
}

.tagoption {
    display: inline-block;
}