.homesection .title {
    margin-bottom: 5px;
}

div.sidescroller {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    inline-size: calc(100% - 30px);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.eventcard {
    flex: 0 0 auto;
    padding: 14px;
    display: inline-block;
    background-color: #e4e4e4;
}

.homesection {
    margin-left: 25px;
    margin-bottom: 30px;
}

div.eventcard h3 a {
    color: #3e3e3e;
}

div.eventinfo {
    padding: 15px;
    padding-bottom: 0;
    max-width: 100%;
    width: 75em;
    background-color: #e4e4e4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

div.eventinfo #description {
    margin-top: 15px;
    padding-bottom: 5px;
}