openapi: 3.0.0

info:
  version: '1.0'
  title: A7
  description: 'Web resources specification for A7'

servers:
  - url: http://lbaw.fe.up.pt #change to real url
    description: FEUP DB server

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Events'
  - name: 'M03: User'
  - name: 'M04: Static'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Login form : PUB'

      tags:
        - 'M01: Authentication'

      responses:
        '200':
          description: 'OK, Show Log-in UI'
    post:
      operationId: 'R102'
      summary: 'L102: Login Action'
      description: 'Login information processing : PUB'

      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                    type: string
                    description: The user's email (optional)
                    example: johndoe@example.com
                password:
                  type: string
                  description: The user's password
                  example: password123
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after checking the credentials'
          headers:
            Location:
              schema:
                type: string
                description: Sends to home page
                example:
                  302Success:
                    description:  'OK, Redirect to home page'
                    value: '/home'
                  302Error:
                    description: 'Failed authentication, Redirect to login page'
                    value: '/login'
  
  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout : PUB'

      tags: 
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirect after processing Logout'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'OK, Logout successful, Redirect to login page'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Register form : PUB'

      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'OK, Show Register UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Register information processing : PUB'

      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: The user's username
                  example: johndoe
                password:
                  type: string
                  description: The user's password
                  example: password123
                email:
                  type: string
                  description: The user's email (optional)
                  example: johndoe@example.com
              required:
                - username
                - password
      responses:
        '302':
          description: 'Redirect after processing new user info'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'OK, Redirect to home page'
                  value: '/home'
  /home:
    get:
      operationId: R106
      summary: 'R106: Home Page'
      description: 'Home page : PUB'

      tags:
        - 'M03: User'
      responses:
        '200':
          description: 'OK, Show Home UI'
          
    post: 
      operationId: R107
      summary: 'R107: Join Event'
      description: 'Join Event : Invite Only'

      tags:
        - 'M02: Events'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: number
                  description: The user's id
                  example: 1
                password:
                  type: number
                  description: The event's id
                  example: 1
              required:
                - user_id
                - event_id

      responses:
        '302':
          description: 'Redirect after joining an event'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'OK, Redirect to event page'
                  value: '/events/{id}'

  /event/{id}:
    get:
      operationId: R108
      summary: 'R108: Event Page'
      description: 'Event Page : PUB'

      tags:
        - 'M02: Events'
      responses:
        '200':
          description: 'OK, Show Event UI'
    
    post:
      operationId: R109
      summary: 'R109: Join Event'
      description: 'Join Event : Invite Only'

      tags:
        - 'M02: Events'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: number
                  description: The user's id
                  example: 1
                password:
                  type: number
                  description: The event's id
                  example: 1
              required:
                - user_id
                - event_id

      responses:
        '302':
          description: 'Redirect after joining an event'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'OK, Redirect to event page'
                  value: '/events/{id}'

  /deleteevents/{id}:
    post:
      operationId: R110
      summary: 'R109: Delete Event'
      description: 'Delete Event : OWN'

      tags:
        - 'M02: Events'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: number
                  description: The user's id
                  example: 1
                password:
                  type: number
                  description: The event's id
                  example: 1
              required:
                - user_id
                - event_id

      responses:
        '302':
          description: 'Redirect after joining an event'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'OK, Redirect to event page'
                  value: '/events/{id}'

      


